<div id="mirador-viewer"></div>
<link rel="stylesheet" href="{{ site.baseurl }}/iiif_viewer/mirador/css/mirador-combined.css">
<style>
    body {
      background-color: #fff;
      padding: 1em 0;
      margin: 0 5% !important;
      width: 90%;
    }
    #viewer {
      display: block;
      width: 90%;
      height: 600px;
      margin: 1em 5%;
      position: relative;
    }
    h1, h2 {
      text-align: center;
    }
</style>
<div id='viewer'></div>

<script src='{{ site.baseurl }}/iiif_viewer/mirador/mirador.js'></script>
<script type='text/javascript'>

 $(function() {
   Mirador({
     'id': 'viewer',
     'layout': '1x1',
     'data': [ {{ page.iiif_collections }} ],
     'mainMenuSettings': { 'show': false },
     'buildPath': '{{ site.baseurl }}/iiif_viewer/mirador/',
     'windowObjects': [{
     'loadedManifest': '{{ site.url }}{{ site.baseurl }}/tiles/{{ page.thismanifest }}/manifest.json',
     'viewType': 'ImageView',
     'displayLayout': false,
     'bottomPanel': false,
     'bottomPanelAvailable': false,
     'bottomPanelVisible': false,
     'sidePanel': false,
     'annotationLayer': false

     }],
     'annotationEndpoint': { 'name':'Local Storage', 'module': 'LocalStorageEndpoint' }
   });
 });
</script>
