<nav class="navbar navbar-expand-lg navbar-light bg-light page-header">
    <div class="d-flex flex-column bd-highlight mb-3">
        <h1 id="site-title"><a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a></h1>
        <p class="bd-highlight" id="nav-subtitle">{{site.tagline}}</p>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% include navbar.html %}
</nav>