
<div class="navbar">

  <!-- Home Button -->
    <a href="{{site.baseurl}}/index.html">Home</a>

  <!-- About Button -->
    <div class="dropdown">
      <button class="dropbtn">About
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{{site.baseurl}}/versioning.html">Versioning</a>
        <a href="{{site.baseurl}}/citation.html">Cite our work</a>
      </div>
    </div>

  <!-- Praxis Button -->
  <div class="dropdown">
    <button class="dropbtn">Praxis
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{site.baseurl}}/general.html">General Criteria</a>
      <a href="{{site.baseurl}}/b-praxis.html">Berlin Criteria</a>
      <a href="{{site.baseurl}}/t-praxis.html">Turin Criteria</a>
      <a href="{{site.baseurl}}/p-praxis.html">Padua Criteria</a>
      <a href="{{site.baseurl}}/br-praxis.html">Barbieri Criteria</a>
    </div>
  </div>

  <!-- Editions Button -->
  <div class="dropdown">
    <button class="dropbtn">Editions
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{site.baseurl}}/b-intro.html">Berlin (B)</a>
      <a href="{{site.baseurl}}/t-intro.html">Turin (T)</a>
      <a href="{{site.baseurl}}/p-intro.html">Padua (P)</a>
      <a href="{{site.baseurl}}/br-intro.html">Barbieri Fragment (Br)</a>
    </div>
  </div>

  <!-- Translation Button -->
  <div class="dropdown">
    <button class="dropbtn">Translation
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{site.baseurl}}/b-translation.html">Berlin Translation</a>
    </div>
  </div>

  <!--Bibliography Button -->
  <a href="{{site.baseurl}}/bibliography.html">Bibliography</a>
  <div class="dropdown">
</div>
