<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://fonts.googleapis.com/css?family=Barlow' rel='stylesheet'>
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/praxis.css">
  <script src="{{site.baseurl}}/assets/js/CETEI.js"></script>

{% include head.html %}

</head>

<body>
    {% include header.html %}

    <main class="page-content" aria-label="Content">
    
    <div class="thinwrapper">    
        <h1>{{page.title}}</h1>
        <div>{{content}}</div>

        <div id="tei-praxis"></div>

    </div>

    </main>

        <div id="edition-footer">
                {% include footer.html %}
        </div>

        <script>

            var CETEIcean = new CETEI()
            {% if page.sigla == 'G' %}
            CETEIcean.getHTML5("{{site.baseurl}}/praxis/gen-praxis.xml", function(data) {

            {% elsif page.sigla == 'B' %}
            CETEIcean.getHTML5("{{site.baseurl}}/praxis/b-praxis.xml", function(data) {

            {% elsif page.sigla == 'T' %}
            CETEIcean.getHTML5("{{site.baseurl}}/praxis/t-praxis.xml", function(data) {

            {% elsif page.sigla == 'P' %}
            CETEIcean.getHTML5("{{site.baseurl}}/praxis/p-praxis.xml", function(data) {

            {% elsif page.sigla == 'Br' %}
            CETEIcean.getHTML5("{{site.baseurl}}/praxis/br-praxis.xml", function(data) {
            
            {% elsif page.sigla == 'BT' %}
            CETEIcean.getHTML5("{{site.baseurl}}/praxis/br-praxis.xml", function(data) {

            {% endif %}

                var teipraxis = data.querySelector("tei-text")
                document.getElementById("tei-praxis").innerHTML = ""
                document.getElementById("tei-praxis").appendChild(teipraxis)
                CETEIcean.addStyle(document, data)

        });

        </script>

    </body>

</html>