<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

{% include header.html %}
<main class="page-content" aria-label="Content">
<div id="wrapper">
	
{{content}}

{% include footer.html %}
</div>
</main>
</body>

<script> //* Script for markdown collapsible menus
    $(document).ready(function(){
    $('.markdown-block .sqs-block-content h2').css('cursor','pointer');
    $(".markdown-block .sqs-block-content h2").nextUntil("h2").slideToggle();
    $(".markdown-block .sqs-block-content h2").click(function() {$(this).nextUntil("h2").slideToggle();});
    });
</script>
</html>
