<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}
<style>
  @keyframes blink {
    0%   {background-color:yellow;}
    50% {background-color: white;}
    100% {background-color:yellow;}
  }

  #highlight {
    background-color: yellow;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: 3;
    padding: 3px;
    border-radius: 7px;
  }

  .number {
    color: black;
    padding: 2px 7px;
    border-radius: 5px;
    float: right;
    font-size: small;
  }
</style>

<body>

{% include header.html %}
<main class="page-content" aria-label="Content">
  <div class="container-fluid">
    <!-- Edition controls row -->
    <div class="row" id="TEI-tools">
      <div class="col-md-3">
        <h1 id="mstitle">{{page.manuscript}}</h1>
      </div>
      <div class="col-md-2" id="folio-nav">
          {% capture the_collection %}{{page.collection}}{% endcapture %}
            {% if page.collection %}
              {% assign documents = site[the_collection] %}
            {% endif %}
            {% for link in documents  %}
            {% if link.title == page.title %}
              {% unless forloop.first %}
                {% assign prevurl = prev.url %}
                {% assign prevtitle = prev.title %}
              {% endunless %}
              {% unless forloop.last %}
                {% assign next = documents[forloop.index] %}
                {% assign nexturl = next.url %}
                {% assign nexttitle = next.title %}
              {% endunless %}
            {% endif %}
            {% assign prev = link %}
          {% endfor %}
          
            <!-- HTML for transcription and folio navigation -->
           
            {% if prevurl %}<a href="{{site.baseurl}}{{prevurl}}" class="prev">&#8617;</a>{% endif %}
            {{ page.title }}
            {% if nexturl %}<a href="{{site.baseurl}}{{nexturl}}" class="next">&#8618;</a>{% endif %}
      </div>
      <div class="col">
        {% if page.sigla == 'P' %}
          <div id="show-french">
              <label class="switch">
                  <input type="checkbox" name="show-french" unchecked>
                  <div class="slider round"></div>  
          </div>
              </label> French
        {% endif %}
          <div id="expand">
              <label class="switch">
                  <input type="checkbox" name="abbreviations-toggle" checked>
                  <div class="slider round"></div>
              </label> Expand Abbreviations
          </div>
        {% if page.sigla == 'T' %}
          <div id="reconstruction">
              <label class="switch">
                  <input type="checkbox" name="rajna-reconstruction" unchecked>
                  <div class="slider round"></div>
              </label> Rajna Reconstruction
          </div>
        {% endif %}
          <div id="notes">
              <label class="switch">
                  <input type="checkbox" name="notes" checked>
                  <div class="slider round"></div>
              </label> Notes
          </div>
        {% if page.sigla == 'T' %}
          <div id="rajna">
              <a href="https://www.huondauvergne.org/facsimiles/r-facsimile.html" style="color: #5f0000">Rajna Notebook</a>
          </div>
        {% endif %}
          
          <!-- Toggles for showing divs -->
          <div class="form-check form-check-inline">
            <input class="form-check-input toggleDiv" type="checkbox" id="showTEI" value="TEI" checked>
            <label class="form-check-label" for="showTEI">Show TEI</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input toggleDiv" type="checkbox" id="showManu" value="openseadragon1" checked>
            <label class="form-check-label" for="showManu">Show Manuscript</label>
          </div>

          <div id="source-code">
            {% if page.sigla == 'B' %}
            <a href="https://github.com/SteveWLU/hda/blob/master/editions/b.xml"><span class="icon icon--github">{% include icon-github.svg %}</span>Source Code</a>
            
            {% elsif page.sigla == 'T' %}
             <a href="https://github.com/SteveWLU/hda/blob/master/editions/t.xml"><span class="icon icon--github">{% include icon-github.svg %}</span>Source Code</a>

            {% elsif page.sigla == 'P' %}
             <a href="https://github.com/SteveWLU/hda/blob/master/editions/p.xml"><span class="icon icon--github">{% include icon-github.svg %}</span>Source Code</a>

            {% elsif page.sigla == 'Br' %}
             <a href="https://github.com/SteveWLU/hda/blob/master/editions/br.xml"><span class="icon icon--github">{% include icon-github.svg %}</span>Source Code</a>
            
            {% elsif page.sigla == 'BT' %}
             <a href="https://github.com/SteveWLU/hda/blob/master/editions/translation-b.xml"><span class="icon icon--github">{% include icon-github.svg %}</span>Source Code</a>

          {% endif %}
          </div>
          
          <!-- Insert Status Update from TEI header <change> tag (line 213) -->
          <div id="status"></div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <!-- Insert OpenSeaDragon viewer and content -->
      <div class="col-sm-11 col-md-4" id="openseadragon1"></div>

      <!-- Insert TEI Content-->
      <div class="col-sm-11 col-md-4" id="TEI" data-milestone="{{ page.milestone }}"></div>

      <!-- Insert edition notes -->
      <div class="col-sm-11 col-md-4" id="edition-notes" data-milestone="{{ page.milestone }}">
        <h2>Edition Notes</h2>
      </div>
    </div>
    
    
  </div>


<script src="{{ site.baseurl }}/assets/js/openseadragon/openseadragon.min.js"></script>

<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "openseadragon1",
        minZoomImageRatio: 1,
        prefixUrl: "/assets/openseadragon/images/",
        tileSources: "https://iiif.wlu.edu/iiif/huon/{{ page.iip }}/info.json"
 
    });

</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script>  
  // CODE TO HIDE A PAGE
  function showPage(page) {
    // Hide all text that does not belong to the page indicated
    var n
    var pbs = 0
    var hide = false

    // First, remove all hiding CSS classes, if present.
    Array.from(document.querySelectorAll('.hid_page')).map(function (el) {
      el.classList.remove('hid_page')
    })

    // Walk trough all descendants of tei-text
    var walk = document.createTreeWalker(document.querySelector('tei-text'), NodeFilter.SHOW_ALL, null, false)
    while (n = walk.nextNode()) {
      if (n.nodeType === Node.ELEMENT_NODE) {
        //  If this is a page beginning, update page count.
        //  If page count is lower or higher than the page requested, set 'hide' flag.
        //  If page count corresponds to the page requested, remove 'hide' flag.
        if (n.localName === 'tei-milestone' ) {
          pbs++
          if (pbs != page) {
            hide = true
          } else {
            hide = false
          }
        }

        // If the hide flag is set and this is an empty element, hide it just in case the
        // CETEIcean CSS (or other) does something with it.
        if (hide && n.childNodes.length === 0) {
          n.classList.add('hid_page')
        }
        //RAFF 10/19 just this if statement
        if (hide && n.tagName === 'tei-note') {
           n.classList.add('hid_note')
        }

      } else if (n.nodeType === Node.TEXT_NODE) {
        // We mostly operate at text node level by storing and restoring text data.

        // Start by always restoring text data is previously removed.
        if (n.storedContent) {
          n.textContent = n.storedContent
        }

        // If the 'hide' flag is set, store text content and remove it.
        if (hide) {
          n.storedContent = n.textContent
          n.textContent = ''
        }
      }
    }
  }


// CODE TO RUN CETEICEAN
var CETEIcean = new CETEI()
{% if page.sigla == 'B' %}
  CETEIcean.getHTML5("{{site.baseurl}}/editions/b.xml", function(data) {

{% elsif page.sigla == 'T' %}
  CETEIcean.getHTML5("{{site.baseurl}}/editions/t.xml", function(data) {

{% elsif page.sigla == 'P' %}
  CETEIcean.getHTML5("{{site.baseurl}}/editions/p.xml", function(data) {

{% elsif page.sigla == 'Br' %}
  CETEIcean.getHTML5("{{site.baseurl}}/editions/br.xml", function(data) {

{% elsif page.sigla == 'BT' %}
  CETEIcean.getHTML5("{{site.baseurl}}/editions/translation-b.xml", function(data) {
    
{% endif %}

  document.getElementById("TEI").innerHTML = ""
  document.getElementById("TEI").appendChild(data)
  CETEIcean.addStyle(document, data)

  // Get status from TEI header <change> tag and place in the update div (line 96)
  var update = data.querySelector("tei-change")
    document.getElementById("status").innerHTML = ""
    document.getElementById("status").appendChild(update)
    CETEIcean.addStyle(document, data)

  //get current page
  const currentMilestone = document.getElementById("TEI").getAttribute("data-milestone");

  //show current page
  showPage(currentMilestone)

 

// to show notes
var CETEIceanNotes = new CETEI()
{% if page.sigla == 'B' %}
  CETEIceanNotes.getHTML5("{{site.baseurl}}/editions/notes-b.xml", function(data) {
{% elsif page.sigla == 'T' %}
  CETEIceanNotes.getHTML5("{{site.baseurl}}/editions/notes-t.xml", function(data) {
{% elsif page.sigla == 'P' %}
  CETEIceanNotes.getHTML5("{{site.baseurl}}/editions/notes-p.xml", function(data) {
{% elsif page.sigla == 'Br' %}
  CETEIceanNotes.getHTML5("{{site.baseurl}}/editions/notes-br.xml", function(data) {
{% elsif page.sigla == 'BT' %}
  CETEIceanNotes.getHTML5("{{site.baseurl}}/editions/notes-translation-b.xml", function(data) {  
{% endif %}


 // to get note IDs RAFF 10/19
  var visible_ids = Array.from(document.querySelectorAll('#TEI  tei-note:not(.hid_page')).map(function(n) {return n.getAttribute('xml:id')})

/// Raff 10/19
    visible_ids.forEach(function (id) {
      if (id){
        var note = data.querySelector('tei-note[target="#'+ id +'"]');
        document.getElementById('edition-notes').appendChild(note);
      }
    });

  });

});

//Variables for toggle buttons
var options = {
        "rajna_reconstruction":false,
        "expanded_abbreviations":true,
        "show_french":true,
        "notes":true
    };

 //Function to toggle abbreviations
 $("input[name='abbreviations-toggle'").change(function(){
      $("tei-choice").each(function(){
        $(this).children("tei-ex").toggle();
        $(this).children("tei-abbr").toggle();
      })
      options.expanded_abbreviations = $(this).is(":checked");
    });

//Function to toggle rajna reconstruction
$("input[name='rajna-reconstruction'").change(function(){
  options.rajna_reconstruction = $(this).is(":checked");
  if(options.rajna_reconstruction){
    $("tei-seg").css("color", "red");
  } else {
    $("tei-seg").css("color", "black");
  }
});

//Function to show french
$("input[name='show-french'").change(function(){
  options.show_french = $(this).is(":checked");
  if(options.show_french){
    $("tei-span").css("color", "blue");
  } else {
    $("tei-span").css("color", "black");
  }
});

// Function to turn notes div on/off 
$("input[name='notes'").change(function(){
  $("#edition-notes").toggle();
  });

  // The following is for the search result scrolling to the line
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  const lineNum = urlParams.get('lineNum');

  // Check every 100ms if element exists before trying to highlight and scroll to it
  var checkExist = setInterval(function() {
    if ($(`tei-l`).length) {
      if ($(`tei-l[n="${lineNum}"]`).length) {
        if (lineNum) {
          const lineText = $(`tei-l[n="${lineNum}"]`).html();
          
          $('#TEI').animate({
            scrollTop:  $(`tei-l[n="${lineNum}"]`).offset().top - $(`tei-l[n="${lineNum}"]`).parent().offset().top
          }, 'slow');
          
          $(`tei-l[n="${lineNum}"]`).html(`<span id="highlight">${lineText}</span>`);
        }
      }
      clearInterval(checkExist);
    }
  }, 100); 

// Always display line numbers, after waiting for the tei-l's to load
var teiLExist = setInterval(function() {
  if ($(`tei-l`).length) {
    $('tei-l').each(function() {
        var lineNum = $(this).attr('n');
        if ($(this).text() != "" && lineNum % 5 == 0) {
          this.innerHTML = `${this.innerHTML} <span class="number">${lineNum}</span>`;
        }
      });
    clearInterval(teiLExist);
  }
}, 100); 

// Logic to toggle showing divs
$(".toggleDiv").change(function() {
  var value = $(this).attr('value');
  if(this.checked) {
    $(`#${value}`).show();
  } else {
    $(`#${value}`).hide();
  }
});

</script>

</div>
</main>
</body>
</html>
