<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

{% include header.html %}
<main class="page-content" aria-label="Content">
<div id="wrapper">


<div id="TEI-title">{{page.manuscript}}</div>


<!-- Liquid code for transcription and folio navigation -->
  
{% capture the_collection %}{{page.collection}}{% endcapture %}
  {% if page.collection %}
    {% assign documents = site[the_collection] %}
  {% endif %}
  {% for link in documents  %}
  {% if link.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = documents[forloop.index] %}
      {% assign nexturl = next.url %}
      {% assign nexttitle = next.title %}
    {% endunless %}
  {% endif %}
  {% assign prev = link %}
{% endfor %}




<!-- edition controls --> 
<div id="TEI-tools">
{% if page.sigla == 'P' %}
  <div id="show-french">
      <label class="switch">
          <input type="checkbox" name="show-french" unchecked>
          <div class="slider round"></div>
      </label> French
  </div>
{% endif %}
  <div id="expand">
      <label class="switch">
          <input type="checkbox" name="abbreviations-toggle" checked>
          <div class="slider round"></div>
      </label> Expand Abbreviations
  </div>
{% if page.sigla == 'T' %}
  <div id="reconstruction">
      <label class="switch">
          <input type="checkbox" name="rajna-reconstruction" unchecked>
          <div class="slider round"></div>
      </label> Rajna Reconstruction
  </div>
{% endif %}
  <div id="notes">
      <label class="switch">
          <input type="checkbox" checked>
          <div class="slider round"></div>
      </label> Notes
  </div>
{% if page.sigla == 'T' %}
  <div id="rajna">
      <a href="{{site.baseurl}}/editions/facsimiles/r-facsimile.html" style="color: #5f0000">Rajna Notebook</a>
  </div>
  <!-- from rails site-->
  <!-- <form id="rajna-form">
  <label for="rajnaCheckbox" id="rajna-label"> Rajna Notebook</label>
  <input type="checkbox" name="rajnaCheckbox" id="rajnaCheckbox" style="display: inline;">
  </form> -->
{% endif %}

  <div id="source-code">
      <a href="https://github.com/SteveWLU/hda/blob/development/editions/p.xml"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">{{ include.username }}</span>Source Code</a>
  </div>
  <div id="status">
    <p>Transcription status: <i class="progress">In progress</i><br>Last updated: <i class="updated">August 7, 2018</i></p>
  </div>
</div>

<!-- HTML for transcription and folio navigation -->

<div class="prevnext">
{% if prevurl %}<a href="{{site.baseurl}}{{prevurl}}" class="prev">&#8617;</a>{% endif %}
{{ page.title }}
{% if nexturl %}<a href="{{site.baseurl}}{{nexturl}}" class="next">&#8618;</a>{% endif %}
</div>



<div id="edition-viewer">
  
<!-- Insert TEI content-->
<div id="TEI" data-milestone="{{ page.milestone }}"></div>

<!-- Insert OpenSeaDragon viewer and content -->
<div id="openseadragon1" style="width: 500px; height: 500px; border: 1px solid grey; float: right;"></div>

<script src="/assets/js/openseadragon/openseadragon.min.js"></script>

<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "openseadragon1",
      minZoomImageRatio: 1,
      prefixUrl: "/assets/js/openseadragon/images/",
      tileSources: "https://iiif.wlu.edu/iiif/huon/converted/{{ page.iip }}/info.json"
 
    });

</script>


</div>

<div id="edition-footer">
{% include footer.html %}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script>
  // CODE TO HIDE A PAGE
  function showPage(page) {
    // Hide all text that does not belong to the page indicated
    var n
    var pbs = 0
    var hide = false

    // First, remove all hiding CSS classes, if present.
    Array.from(document.querySelectorAll('.hid_page')).map(function (el) {
      el.classList.remove('hid_page')
    })

    // Walk trough all descendants of tei-text
    var walk = document.createTreeWalker(document.querySelector('tei-text'), NodeFilter.SHOW_ALL, null, false)
    while (n = walk.nextNode()) {
      if (n.nodeType === Node.ELEMENT_NODE) {
        //  If this is a page beginning, update page count.
        //  If page count is lower or higher than the page requested, set 'hide' flag.
        //  If page count corresponds to the page requested, remove 'hide' flag.
        if (n.localName === 'tei-milestone' ) {
          pbs++
          if (pbs != page) {
            hide = true
          } else {
            hide = false
          }
        }

        // If the hide flag is set and this is an empty element, hide it just in case the
        // CETEIcean CSS (or other) does something with it.
        if (hide && n.childNodes.length === 0) {
          n.classList.add('hid_page')
        }
      } else if (n.nodeType === Node.TEXT_NODE) {
        // We mostly operate at text node level by storing and restoring text data.

        // Start by always restoring text data is previously removed.
        if (n.storedContent) {
          n.textContent = n.storedContent
        }

        // If the 'hide' flag is set, store text content and remove it.
        if (hide) {
          n.storedContent = n.textContent
          n.textContent = ''
        }
      }
    }
  }

// CODE TO RUN CETEICEAN
var CETEIcean = new CETEI()
{% if page.sigla == 'B' %}
  CETEIcean.getHTML5("{{site.baseurl}}/editions/b-temp.xml", function(data) {

{% elsif page.sigla == 'T' %}
  CETEIcean.getHTML5("{{site.baseurl}}/editions/t.xml", function(data) {

{% elsif page.sigla == 'P' %}
  CETEIcean.getHTML5("{{site.baseurl}}/editions/p.xml", function(data) {

{% elsif page.sigla == 'Br' %}
  CETEIcean.getHTML5("{{site.baseurl}}/editions/br.xml", function(data) {

{% elsif page.sigla == 'B-trans' %}
  CETEIcean.getHTML5("{{site.baseurl}}/editions/b-translation.xml", function(data) {
    
{% endif %}

  document.getElementById("TEI").innerHTML = ""
  document.getElementById("TEI").appendChild(data)
  CETEIcean.addStyle(document, data)

//get current page
const currentMilestone = document.getElementById("TEI").getAttribute("data-milestone");
//show current page
showPage(currentMilestone)
});

//Variables for toggle buttons
var options = {
        "rajna_reconstruction":false,
        "expanded_abbreviations":true,
        "show_french":true
    };

 //Function to toggle abbreviations
 $("input[name='abbreviations-toggle'").change(function(){
      $("tei-choice").each(function(){
        $(this).children("tei-ex").toggle();
        $(this).children("tei-abbr").toggle();
      })
      options.expanded_abbreviations = $(this).is(":checked");
    });

//Function to toggle rajna reconstruction
$("input[name='rajna-reconstruction'").change(function(){
  options.rajna_reconstruction = $(this).is(":checked");
  if(options.rajna_reconstruction){
    $("tei-seg").css("color", "red");
  } else {
    $("tei-seg").css("color", "black");
  }
});

//Function to toggle rajna reconstruction
$("input[name='show-french'").change(function(){
  options.show_french = $(this).is(":checked");
  if(options.show_french){
    $("tei-span").css("color", "blue");
  } else {
    $("tei-span").css("color", "black");
  }
});

</script>



</div>
</main>
</body>
</html>