<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/mirador/css/mirador-combined.css">
     <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ site.baseurl }}/assets/scripts/modernizr.custom.js"></script>
    <script src="{{site.baseurl}}/assets/mirador/mirador.js"></script>
</head>

<body>

{% include header.html %}
<main class="page-content" aria-label="Content">
    <div id="wrapper">

<h1>{{page.title}}</h1>
<p>Images within the Huon Digital Archive may not be printed, reproduced or downloaded. 
    To order reproductions of this manuscript, please review the policies of the 

{% if page.sigla == 'B' %}
<a href="https://www.smb.museum/museen-und-einrichtungen/kupferstichkabinett/ueber-uns/service.html" target="_blank">
    Berlin Kupferstichkabinett</a>.

{% elsif page.sigla == 'T' %}
<a href="http://www.bnto.librari.beniculturali.it/index.php?it/218/modulistica" target="_blank">
    Biblioteca Nazionale Universitaria di Torino</a>.

{% elsif page.sigla == 'P' %}
<a href="http://www.bibliotecaseminariopda.it/richiesta-riproduzioni/" target="_blank">
    Biblioteca del Seminario Vescovile di Padova</a>.  

{% elsif page.sigla == 'Br' %}
<a href="http://www.archiginnasio.it/forms/modulo4.pdf" target="_blank">
    Biblioteca Comunale dell'Archiginnasio</a>.

{% endif %}

</p>

    {% if page.sigla == 'B' %}
        <div id="miradorviewer-B" style="position:absolute;  width: 90%; height: 100%;"></div>

    {% elsif page.sigla == 'T' %}
        <div id="miradorviewer-T" style="position:absolute;  width: 90%; height: 100%;"></div>

    {% elsif page.sigla == 'P' %}
        <div id="miradorviewer-P" style="position:absolute;  width: 90%; height: 100%;"></div>    

    {% elsif page.sigla == 'Br' %}
        <div id="miradorviewer-Br" style="position:absolute;  width: 90%; height: 100%;"></div>

    {% elsif page.sigla == 'R' %}
        <div id="miradorviewer-R" style="position:absolute;  width: 90%; height: 100%;"></div>

    {% endif %}

        <div id="edition-footer">
                {% include footer.html %}
        </div>

<script src="{{site.baseurl}}/assets/mirador/mirador.js"></script>
<script type="text/javascript">

        $(function() {
            Mirador({
            "id": "miradorviewer-B",
            "layout": "1x1",
            "data": [
                { "manifestUri": "https://stevewlu.github.io/manifests/b-manifest.json", "location": "Berlin, Kupferstichkabinett"}, 
                { "manifestUri": "https://stevewlu.github.io/manifests/t-manifest.json", "location": "Turin, Biblioteca Nazionale Universitaria"},
                { "manifestUri": "https://stevewlu.github.io/manifests/p-manifest.json ", "location": "Padua, Biblioteca del Seminario Vescovile"},
                { "manifestUri": "https://stevewlu.github.io/manifests/br-manifest.json", "location": "Bologna, Biblioteca Comunale dell'Archiginnasio"},
                { "manifestUri": "https://stevewlu.github.io/manifests/r-manifest.json", "location": "Florence, Biblioteca Marucelliana"}
            ],
            "windowObjects": [
                {
                "loadedManifest": "https://stevewlu.github.io/manifests/b-manifest.json",
                "viewType": "ImageView"}
            ],
           "annotationEndpoint": { "name":"Local Storage", "module": "LocalStorageEndpoint" },
           "windowSettings": {
                "bottomPanel" : true,
                "bottomPanelVisible" : true,
                "sidePanel" : true,
                "sidePanelOptions":{
                    "toc" : true,
                    "annotations" : false,
                    "tocTabAvailable" : true,
                    "layersTabAvailable" : false,
                    "searchTabAvailable" : false,
                    "annotationTabAvailable" : false
                },
                "canvasControls": { // The types of controls available to be displayed on a canvas
                "imageManipulation" : {
                "manipulationLayer" : true,
                "controls" : {
                    "rotate" : true,
                    "brightness" : true,
                    "contrast" : true,
                    "saturate" : true,
                    "grayscale" : true,
                    "invert" : true,
                    "mirror" : false
               }
             }
           }
         }
       });
     });

        $(function() {
            Mirador({
            "id": "miradorviewer-T", 
            "layout": "1x1", 
            "data": [
                { "manifestUri": "https://stevewlu.github.io/manifests/b-manifest.json", "location": "Berlin, Kupferstichkabinett"}, 
                { "manifestUri": "https://stevewlu.github.io/manifests/t-manifest.json", "location": "Turin, Biblioteca Nazionale Universitaria"},
                { "manifestUri": "https://stevewlu.github.io/manifests/p-manifest.json ", "location": "Padua, Biblioteca del Seminario Vescovile"},
                { "manifestUri": "https://stevewlu.github.io/manifests/br-manifest.json", "location": "Bologna, Biblioteca Comunale dell'Archiginnasio"},
                { "manifestUri": "https://stevewlu.github.io/manifests/r-manifest.json", "location": "Florence, Biblioteca Marucelliana"}
            ],
            "windowObjects": [
            {
          "loadedManifest" : "https://stevewlu.github.io/manifests/t-manifest.json", 
          "canvasID" : "https://iiif/id/and/uri/of/your/canvas/canvas-id", 
          "viewType" : "ImageView"}
            ]
            });
        });

        $(function() {
            Mirador({
            "id": "miradorviewer-P", 
            "layout": "1x1", 
            "data": [
                { "manifestUri": "https://stevewlu.github.io/manifests/b-manifest.json", "location": "Berlin, Kupferstichkabinett"}, 
                { "manifestUri": "https://stevewlu.github.io/manifests/t-manifest.json", "location": "Turin, Biblioteca Nazionale Universitaria"},
                { "manifestUri": "https://stevewlu.github.io/manifests/p-manifest.json ", "location": "Padua, Biblioteca del Seminario Vescovile"},
                { "manifestUri": "https://stevewlu.github.io/manifests/br-manifest.json", "location": "Bologna, Biblioteca Comunale dell'Archiginnasio"},
                { "manifestUri": "https://stevewlu.github.io/manifests/r-manifest.json", "location": "Florence, Biblioteca Marucelliana"}
            ],
            "windowObjects": [
            {
          "loadedManifest" : "https://stevewlu.github.io/manifests/p-manifest.json", 
          "canvasID" : "https://iiif/id/and/uri/of/your/canvas/canvas-id", 
          "viewType" : "ImageView"}
            ]
            });
        });

        $(function() {
            Mirador({
            "id": "miradorviewer-Br", 
            "layout": "1x1", 
            "data": [
                { "manifestUri": "https://stevewlu.github.io/manifests/b-manifest.json", "location": "Berlin, Kupferstichkabinett"}, 
                { "manifestUri": "https://stevewlu.github.io/manifests/t-manifest.json", "location": "Turin, Biblioteca Nazionale Universitaria"},
                { "manifestUri": "https://stevewlu.github.io/manifests/p-manifest.json ", "location": "Padua, Biblioteca del Seminario Vescovile"},
                { "manifestUri": "https://stevewlu.github.io/manifests/br-manifest.json", "location": "Bologna, Biblioteca Comunale dell'Archiginnasio"},
                { "manifestUri": "https://stevewlu.github.io/manifests/r-manifest.json", "location": "Florence, Biblioteca Marucelliana"}
            ],
            "windowObjects": [
            {
          "loadedManifest" : "https://stevewlu.github.io/manifests/br-manifest.json", 
          "canvasID" : "https://iiif/id/and/uri/of/your/canvas/canvas-id", 
          "viewType" : "ImageView"}
            ]
            });
        });

        $(function() {
            Mirador({
            "id": "miradorviewer-R", 
            "layout": "1x1", 
            "data": [
                { "manifestUri": "https://stevewlu.github.io/manifests/b-manifest.json", "location": "Berlin, Kupferstichkabinett"}, 
                { "manifestUri": "https://stevewlu.github.io/manifests/t-manifest.json", "location": "Turin, Biblioteca Nazionale Universitaria"},
                { "manifestUri": "https://stevewlu.github.io/manifests/p-manifest.json ", "location": "Padua, Biblioteca del Seminario Vescovile"},
                { "manifestUri": "https://stevewlu.github.io/manifests/br-manifest.json", "location": "Bologna, Biblioteca Comunale dell'Archiginnasio"},
                { "manifestUri": "https://stevewlu.github.io/manifests/r-manifest.json", "location": "Florence, Biblioteca Marucelliana"}
            ],
            "windowObjects": [
            {
          "loadedManifest" : "https://stevewlu.github.io/manifests/r-manifest.json", 
          "canvasID" : "https://iiif/id/and/uri/of/your/canvas/canvas-id", 
          "viewType" : "ImageView"}
            ]
            });
        });

</script>

</div>
</main>
</body>
</html>