---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="../assets/css/CETEIcean.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{{ site.baseurl }}/assets/scripts/modernizr.custom.js"></script>
    <script src="https://teic.github.io/CETEIcean/js/CETEI.js"></script>
</head>

<body>

<header role="banner" class="page-header" id="top">
  <h1>{{site.title}}</h1>
  <p>{{site.tagline}}</p>
    {% include navbar.html %}
</header>
<main class="page-content" aria-label="Content">
<div id="wrapper">

<div id="TEI-title">{{page.manuscript}}</div>


<div id="TEI-tools">
  <div id="scribal">
      <label class="switch">
          <input type="checkbox" checked>
          <div class="slider round"></div>
      </label>Scribal</div>
  <div id="diplomatic">
      <label class="switch">
          <input type="checkbox" checked>
          <div class="slider round"></div>
      </label>Diplomatic</div>
  <div id="critical">
      <label class="switch">
          <input type="checkbox" checked>
          <div class="slider round"></div>
      </label>Critical</div>
  <div id="notes">
      <label class="switch">
          <input type="checkbox" checked>
          <div class="slider round"></div>
      </label>Notes</div>
  <div id="cats">
      <label class="switch">
          <input type="checkbox" checked>
          <div class="slider round"></div>
      </label>Medieval Cats</div>
  
</div>



<!-- Liquid code for transcription and folio navigation -->

{% capture the_collection %}{{page.collection}}{% endcapture %}
  {% if page.collection %}
    {% assign documents = site[the_collection] %}
  {% endif %}
  {% for link in documents  %}
  {% if link.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = documents[forloop.index] %}
      {% assign nexturl = next.url %}
      {% assign nexttitle = next.title %}
    {% endunless %}
  {% endif %}
  {% assign prev = link %}
{% endfor %}

<!-- HTML for transcription and folio navigation -->
<div id="folio-nav">
  <div class="prevnext">
  {% if prevurl %}<a href="{{site.baseurl}}{{prevurl}}" class="prev"><i class="material-icons" style="font-size:36px">chevron_left</i></a>{% endif %}
  </div>

  <div id="foliation">{{ page.title }}</div>

  <div class="prevnext">
  {% if nexturl %}<a href="{{site.baseurl}}{{nexturl}}" class="next"><i class="material-icons" style="font-size:36px">chevron_right</i></a>{% endif %}
  </div>
</div>

<div id="edition-viewer">
  
<!-- Insert TEI content-->
<div id="TEI" data-milestone="{{ page.milestone }}"></div>

<!-- Insert OpenSeaDragon viewer and content -->
  <div id="post-content">
  {% iiif %}
  {{ content }}
  </div>

</div>

  <script>
  // CODE TO HIDE A PAGE
  function showPage(page) {
    // Hide all text that does not belong to the page indicated
    var n
    var pbs = 0
    var hide = false

    // First, remove all hiding CSS classes, if present.
    Array.from(document.querySelectorAll('.hid_page')).map(function (el) {
      el.classList.remove('hid_page')
    })

    // Walk trough all descendants of tei-text
    var walk = document.createTreeWalker(document.querySelector('tei-text'), NodeFilter.SHOW_ALL, null, false)
    while (n = walk.nextNode()) {
      if (n.nodeType === Node.ELEMENT_NODE) {
        //  If this is a page beginning, update page count.
        //  If page count is lower or higher than the page requested, set 'hide' flag.
        //  If page count corresponds to the page requested, remove 'hide' flag.
        if (n.localName === 'tei-milestone' ) {
          pbs++
          if (pbs != page) {
            hide = true
          } else {
            hide = false
          }
        }

        // If the hide flag is set and this is an empty element, hide it just in case the
        // CETEIcean CSS (or other) does something with it.
        if (hide && n.childNodes.length === 0) {
          n.classList.add('hid_page')
        }
      } else if (n.nodeType === Node.TEXT_NODE) {
        // We mostly operate at text node level by storing and restoring text data.

        // Start by always restoring text data is previously removed.
        if (n.storedContent) {
          n.textContent = n.storedContent
        }

        // If the 'hide' flag is set, store text content and remove it.
        if (hide) {
          n.storedContent = n.textContent
          n.textContent = ''
        }
      }
    }
  }

  // CODE TO RUN CETEICEAN
  var CETEIcean = new CETEI()
  CETEIcean.getHTML5("{{site.baseurl}}/editions/p.xml", function(data) {
    document.getElementById("TEI").innerHTML = ""
    document.getElementById("TEI").appendChild(data)
    CETEIcean.addStyle(document, data)

    //get current page
    const currentMilestone = document.getElementById("TEI").getAttribute("data-milestone");
    //show current page
    showPage(currentMilestone)
  });

</script>
</div>
</main>
</body>
</html>