{% capture the_collection %}{{page.collection}}{% endcapture %}
  {% if page.collection %}
    {% assign documents = site[the_collection] %}
  {% endif %}
{% for link in documents  %}
  {% if link.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = documents[forloop.index] %}
      {% assign nexturl = next.url %}
      {% assign nexttitle = next.title %}
    {% endunless %}
  {% endif %}
  {% assign prev = link %}
{% endfor %}

<div class="prevnext">
{% if prevurl %}Previous: <a href="{{site.baseurl}}{{prevurl}}" class="prev">{{prevtitle}}</a>{% endif %}<br />

{% if nexturl %}Next: <a href="{{site.baseurl}}{{nexturl}}" class="next">{{nexttitle}}</a>{% endif %}
</div>

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
	<!-- {% iiif %} -->
	{{ content }}
  </div>
</article>
