<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}


<body>
{% include header.html %}
<main class="page-content" aria-label="Content">
<div id="wrapper">
  
<h1>{{page.title}}</h1>

<h2>Introduction to Edition</h2>

<div id="teiHeader"></div>

<div id="ms-intro">
{% if page.sigla == 'B' %}
    <img id="toc" src="../assets/images/b-intro.jpg">
{% elsif page.sigla == 'T' %}
    <img id="toc" src="../assets/images/t-intro.jpg">
{% elsif page.sigla == 'P' %}
    <img id="toc" src="../assets/images/p-intro.jpg">
{% elsif page.sigla == 'Br' %}
    <img id="toc" src="../assets/images/br-intro.jpg">
{% endif %}
    <div id="toc">
            <h2>Table of Contents</h2>
            <hr id="toc">
            <ol>
                <li><a href="{{page.criteria}}">Edition Criteria</a></li>
                <li><a href="{{page.edition}}">Digital Edition</a></li>
                <li><a href="{{page.facsimile}}">Digital Facsimile</a></li>
                {% if page.sigla == 'T' %}
                <li><a href="{{page.notebook}}">Rajna Notebook</a></li>
                {% endif %}
                <li>Concordance</li>
                <li>Codicology</li>
                <li>Glossary</li>
            </ol>
    </div>
</div></div>
</main>
<div id="edition-footer">
        {% include footer.html %}
</div>

<script>

var CETEIcean = new CETEI();

{% if page.sigla == 'B' %}
  CETEIcean.getHTML5("{{site.baseurl}}/editions/b.xml", function(data) {

{% elsif page.sigla == 'T' %}
  CETEIcean.getHTML5("{{site.baseurl}}/editions/t.xml", function(data) {

{% elsif page.sigla == 'P' %}
  CETEIcean.getHTML5("{{site.baseurl}}/editions/p.xml", function(data) {

{% elsif page.sigla == 'Br' %}
  CETEIcean.getHTML5("{{site.baseurl}}/editions/br.xml", function(data) {

{% elsif page.sigla == 'B-trans' %}
  CETEIcean.getHTML5("{{site.baseurl}}/editions/b-translation.xml", function(data) {
    
{% endif %}

        var intro = data.querySelector("tei-history")
        document.getElementById("teiHeader").innerHTML = ""
        document.getElementById("teiHeader").appendChild(intro)
        CETEIcean.addStyle(document, data)

});

    </script>
</body>
</html>
