<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://fonts.googleapis.com/css?family=Barlow' rel='stylesheet'>
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/praxis.css">
  <script src="{{site.baseurl}}/assets/js/CETEI.js"></script>

{% include head.html %}

</head>

<body>
    {% include header.html %}

<main class="page-content" aria-label="Content">

<div class="flex-containter" id="TEI-tools">
    
<!-- Page Title -->
<div class="flex-item" id="mstitle">
    <h1>{{page.manuscript}}</h1>
</div>

<!-- Liquid code for translation navigation -->
<div class="flex-item" id="folio-nav">
{% capture the_collection %}{{page.collection}}{% endcapture %}
  {% if page.collection %}
    {% assign documents = site[the_collection] %}
  {% endif %}
  {% for link in documents  %}
  {% if link.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = documents[forloop.index] %}
      {% assign nexturl = next.url %}
      {% assign nexttitle = next.title %}
    {% endunless %}
  {% endif %}
  {% assign prev = link %}
{% endfor %}

{% if prevurl %}<a href="{{site.baseurl}}{{prevurl}}" class="prev">&#8617;</a>{% endif %}
  {{ page.title }}
  {% if nexturl %}<a href="{{site.baseurl}}{{nexturl}}" class="next">&#8618;</a>{% endif %}
</div>

<!-- Translation Tools -->
<!-- Notes -->
<div id="notes">
    <label class="switch">
        <input type="checkbox" name="notes" checked>
        <div class="slider round"></div>
    </label> Notes

<!-- Link to Source Code -->
<div id="source-code">
    <a href="https://github.com/SteveWLU/hda/blob/development/editions/p.xml"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">{{ include.username }}</span>Source Code</a>
</div>

<!-- Status -->
<div id="status">
    <p>Transcription status: <i class="progress">In progress</i><br>Last updated: <i class="updated">August 7, 2018</i></p>
</div>
</div>

<!-- Insert TEI Content -->
<div id="tei-trans" data-milestone="{{ page.milestone }}"></div>

</div>

<!-- Script - CETEIcean & Pagination -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


<script>

// CODE TO HIDE A PAGE
  function showPage(page) {
    // Hide all text that does not belong to the page indicated
    var n
    var pbs = 0
    var hide = false

    // First, remove all hiding CSS classes, if present.
    Array.from(document.querySelectorAll('.hid_page')).map(function (el) {
      el.classList.remove('hid_page')
    })

    // Walk trough all descendants of tei-text
    var walk = document.createTreeWalker(document.querySelector('tei-text'), NodeFilter.SHOW_ALL, null, false)
    while (n = walk.nextNode()) {
      if (n.nodeType === Node.ELEMENT_NODE) {
        //  If this is a page beginning, update page count.
        //  If page count is lower or higher than the page requested, set 'hide' flag.
        //  If page count corresponds to the page requested, remove 'hide' flag.
        if (n.localName === 'tei-milestone' ) {
          pbs++
          if (pbs != page) {
            hide = true
          } else {
            hide = false
          }
        }

        // If the hide flag is set and this is an empty element, hide it just in case the
        // CETEIcean CSS (or other) does something with it.
        if (hide && n.childNodes.length === 0) {
          n.classList.add('hid_page')
        }
        //RAFF 10/19 just this if statement
        if (hide && n.tagName === 'tei-note') {
           n.classList.add('hid_note')
        }

      } else if (n.nodeType === Node.TEXT_NODE) {
        // We mostly operate at text node level by storing and restoring text data.

        // Start by always restoring text data is previously removed.
        if (n.storedContent) {
          n.textContent = n.storedContent
        }

        // If the 'hide' flag is set, store text content and remove it.
        if (hide) {
          n.storedContent = n.textContent
          n.textContent = ''
        }
      }
    }
  }

// Script for CETEIcean
var CETEIcean = new CETEI()
CETEIcean.getHTML5("{{site.baseurl}}/editions/translation-b.xml", function(data) {

    var teitrans = data.querySelector("tei-text")
    document.getElementById("tei-trans").innerHTML = ""
    document.getElementById("tei-trans").appendChild(teitrans)
    CETEIcean.addStyle(document, data)

    });

//Function to toggle notes
var options = {
        "notes":true
    };

    $("input[name='abbreviations-toggle'").change(function(){
    $("tei-choice").each(function(){
    $(this).children("tei-ex").toggle();
    $(this).children("tei-abbr").toggle();
    })
    options.expanded_abbreviations = $(this).is(":checked");

    });

</script>

    </main>

</body>
</html>