<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/tutorial.css">
  <script src="{{site.baseurl}}/assets/js/CETEI.js"></script>
  <script>

    let c = new CETEI();
    c.getHTML5("{{site.baseurl}}/praxis/tutorial.xml", function(data) {
    document.getElementsByTagName("body")[0].appendChild(data);
  });

  </script>
</head>
<body></body>
</html>